/*https://coolors.co/c09e80-4a5f6f-243323-1b1c17-9ebbd5*/
body {
	width: 90%;
	margin: auto;
	text-align: justify;
	background: #243323;
	color: #1B1C17;
	font-family: 'Montserrat', sans-serif;
	max-width: 1600px;
}

h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
}

.place, #hero, img {
	border-radius: 20px;
}

.place, #hero {
	background: #9EBBD5;
}

#hero {
	padding: 10px 20px 10px 20px;
	margin: 20px 0;
	text-align: center;
}

#top3 {
	display:flex;
	gap: 20px;
	justify-content: space-between;
	align-content: space-around;
	flex: none;
}

.place {
	padding: 0px 20px 10px 20px;
	flex: 1;
}

img {
	object-fit: cover;
	width: 100%;
	height: 250px;
}

table {
	margin: auto;
	width: 200px;
}

.addr {
	text-align: left;
}

.desc {
	min-height: 100px;
}

.hours {
	min-height: 150px;
}
